name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup TinyGo
        uses: acifani/setup-tinygo@v2.0.0
        with:
          tinygo-version: "0.39.0"
      - name: Build WebAssembly Module
        run: |
          cp -r internal/assets/images web/
          GOOS=js GOARCH=wasm tinygo build -o web/main.wasm -no-debug ./cmd/wasm
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./web"

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
